fastapi==0.115.2
uvicorn[standard]==0.32.0
requests==2.32.3
beautifulsoup4==4.12.3
apscheduler==3.10.4

ultralytics==8.2.21
opencv-python-headless==4.10.0.84
numpy==1.26.4
lapx==0.5.6

torch==2.5.1+cpu

pymongo==4.10.1
