fastapi==0.111.0 
#uvicorn==0.30.1 
requests==2.32.3 
beautifulsoup4==4.12.3 
apscheduler==3.10.4
uvicorn[standard]==0.30.1
ultralytics
opencv-python-headless
numpy>=1.24.0

# ByteTrack (YOLOX 기반)
git+https://github.com/Megvii-BaseDetection/YOLOX.git
